<!DOCTYPE html>
<html>
<header>
  <div class="login-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo_principal.jpg?alt=media&token=8347ba50-ac57-46c5-ad31-3cb0e25bd463" alt="Logo de la empresa">
  </div>
  <div class="container22">
    <div class="container-menu">
      <ul>
        <li><a [routerLink]="['/homePage/']" >Home</a></li>
        <li><a >Proveedores</a><i class="fa fa-angle-down"></i>
          <ul>
            <li><a class="li-sub" [routerLink]="['/createSupplier/']">Crear Proveedor</a></li>
            <li><a class="li-sub" [routerLink]="['/editSupplier/']">Editar Proveedor</a></li>
            <li><a class="li-sub" [routerLink]="['/deleteSupplier/']">Eliminar Proveedor</a></li>
          </ul>
        </li>
        <li><a >Productos</a><i class="fa fa-angle-down"></i>
          <ul>
            <li><a class="li-sub" [routerLink]="['/createProduct/']" >Crear Producto</a></li>
            <li><a class="li-sub" [routerLink]="['/editProduct/']" >Editar Producto</a></li>
            <li><a class="li-sub" [routerLink]="['/deleteProduct/']" >Eliminar Producto</a></li>
          </ul>
        </li>
        <li><a >Usuarios</a><i class="fa fa-angle-down"></i>
          <ul>
            <li><a class="li-sub" [routerLink]="['/createUser/']">Crear Usuario</a></li>
            <li><a class="li-sub" [routerLink]="['/editUser/']" >Editar Usuario</a></li>
            <li><a class="li-sub" [routerLink]="['/deleteUser/']" >Eliminar Usuario</a></li>
          </ul>
        </li>
        <li><a >Pedidos</a><i class="fa fa-angle-down"></i>
          <ul>
            <li><a class="li-sub" href="#">Crear Pedido</a></li>
            <li><a class="li-sub" href="#">Editar Pedido</a></li>
            <li><a class="li-sub" href="#">Eliminar Pedido</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<body>
<div class="container">
  <div class="title-container">
    <div class="search-bar">
      <div class="titulo">Editar Usuario&nbsp;&nbsp;</div>
      <div>Buscar:&nbsp;</div>
      <input type="text" class="search-input" #name="ngModel" [(ngModel)]="authService.formDataSearchUser.search" placeholder="Buscar usuario">
      <div>
      <span>&nbsp;</span>
      <button class="search-button" (click)="searchUserClient()" >Buscar</button>
      </div>
    </div>
  </div>
  <form action="" method="post" class="form form-login" novalidate autocomplete="off" #form="ngForm" >
    <div class="form-row">
      <div class="campo">
        <label class="lock" for="nombre">Nombre&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-input" type="text" id="nombre" #name="ngModel" [(ngModel)]="authService.formDataUserClient.nameClient" name="nombre" placeholder="Nombre">
      </div>
      <div class="campo">
        <label class="lock" for="nit">Nit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-input" type="text" id="nit" #price="ngModel" [(ngModel)]="authService.formDataUserClient.nitClient" name="nit" placeholder="Nit">
      </div>
      <div class="campo">
        <label class="lock" for="email">Correo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-input" type="text" id="email" #price="ngModel" [(ngModel)]="authService.formDataUserClient.emailClient" name="email" placeholder="Email">
      </div>
    </div>

    <div class="form-row">
      <div class="campo">
        <label class="lock" for="state">Departamento</label>
        <select class="form-input2" id="state" [(ngModel)]="authService.formDataStates.id" (change)="showCitys(authService.formDataStates.id)" name="state">
          <option value="0" disabled selected>Seleccione una opción</option>
          <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
        </select>
      </div>
      <div class="campo">
        <label class="lock" for="city">Ciudad</label>
        <select class="form-input2" id="city" [(ngModel)]="authService.formDataCitys.name" name="city">
          <option value="" disabled selected>Seleccione una opción</option>
          <option *ngFor="let city of citys" [value]="city.name">{{ city.name }}</option>
        </select>
      </div>
      <div class="campo">
        <label class="lock" for="address">Dirección&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-input" type="text" id="address" #name="ngModel" [(ngModel)]="authService.formDataUserClient.addressClient" name="address" placeholder="Dirección">
      </div>
    </div>

    <div class="form-row2">
      <div class="campo">
        <label class="lock" for="contact">Contacto</label>
        <input class="form-input" type="text" id="contact" #amount="ngModel" [(ngModel)]="authService.formDataUserClient.nameContactClient" name="contact" placeholder="Contacto cliente">
      </div>
      <div class="campo">
        <label class="lock" for="phone">Celular</label>
        <input class="form-input" type="number" id="phone" #amount="ngModel" [(ngModel)]="authService.formDataUserClient.phoneClient" name="phone" placeholder="Celular">
      </div>
    </div>
    <div class="button-container">
      <input type="submit" class="custom-button" (click)="openConfirmationDialog()" value="Modificar">
      <input type="submit" class="custom-buttonC" (click)="resetForm()" value="Cancelar">
    </div>

  </form>
  </div>
</body>
<footer>
  <div class="form-row2">
    <a href="#">
      <img class="red-social-image" src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/logo%20facebook.jpg?alt=media&token=0df5a6a9-6198-42b0-a5b6-a7bba5fcc4b8" alt="Red Social 1">
    </a>

    <a href="#">
      <img class="red-social-image" src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo%20instagram.jpg?alt=media&token=8ae466de-15a8-454d-a88d-8e7a9e4ee75f" alt="Red Social 2">
    </a>

    <a href="#">
      <img class="red-social-image" src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo%20Whats.jpg?alt=media&token=de3f918c-fc60-463a-93d3-8a84c3bb0bf9" alt="Red Social 3">
    </a>
  </div>
  <div class="form-row22">
    <a href="">Información legal</a>
    <a>|</a>
    <a href="">Política de privacidad</a>
  </div>
</footer>
</html>




