
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: contents;
  justify-content: center;
  align-items: center;
}
/* Variables */
:root {
  --background-purple: #EEEEEE;
  --subtle-white: #f9f9f9;
  --subtle-grey: #f2f2f2;
  --masked-grey: #ffffff;
  --blue: #F03861;
  --open-sans: 'Open Sans', sans-serif;
}

/* Estilo para el contenedor del carrito */
.carrito-container {
  position: static;
  margin: 0% 0% 0% 0%;
  top: 35px;
  right: 0;
  background-color: #EEEEEE;
  border: 5px solid #ffffff;
  padding: 10px;
  max-height: 82vh;
  overflow: auto; /* Habilitar desplazamiento si el contenido es demasiado largo */
  /* Establece un ancho predeterminado para pantallas más grandes */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .carrito-container {
    width: 100%; /* Ancho completo para pantallas más pequeñas */
    max-height: 100vh; /* Altura completa para ocupar toda la pantalla */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
  }
}
/* Aplicar estilos a los input de tipo "number" */
input[type="number"] {
  border: none; /* Eliminar el borde */
  background-color: transparent; /* Eliminar el fondo */
  outline: none; /* Eliminar el contorno de foco */
}

/* Estilo para la tabla */
table {
  width: 100%; /* Ancho de la tabla del 100% */
  border-collapse: collapse;
  border: 1px solid #ccc; /* Borde de la tabla */
  text-align: center;
  font-family: sans-serif;
}

th, td {
  padding: 10px;
  text-align: center; /* Alinear el texto al centro en celdas */
  border: 1px solid #ccc; /* Borde de celdas */
  white-space: nowrap; /* Evitar que el contenido se divida en múltiples líneas */
  overflow: hidden; /* Ocultar contenido que desborda la celda */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para contenido oculto */
}

/* Estilo para el título "Carrito de Compras" */
h3 {
  text-align: center; /* Alinear el título al centro */
  font-family: sans-serif;
}

/* Estilo para el botón "Comprar" */
.text-end {
  font-family: sans-serif;
  text-align: right; /* Alinear el botón a la derecha */
  margin-right: 20px; /* Margen derecho para separar del borde */
}
.table-img {
  max-width: 100px; /* Ancho máximo de la imagen */
  max-height: 100px; /* Alto máximo de la imagen */
  width: auto; /* Permitir que el ancho se ajuste automáticamente */
  height: auto; /* Permitir que el alto se ajuste automáticamente */
  display: block; /* Evitar el espacio adicional debajo de la imagen */
  margin: 0 auto; /* Centrar la imagen horizontalmente en su contenedor */
}
/* Estilo para las filas impares de la tabla */
tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Color de fondo para filas impares */
}

thead {
  font-family: sans-serif;
  background-color: #3E7C95; /* Color de fondo para los nombres de las columnas */
}

th {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
}

button {
  font-family: sans-serif;
  margin-top: 2%;
  padding: 10px 20px;
  background-color: #f64339; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ea170c; /* Cambiar color de fondo al pasar sobre el botón */
}

.button-buy-cart {
  font-family: sans-serif;
  margin-top: 2%;
  padding: 10px 20px;
  background-color: #6FA535; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  cursor: pointer;
}

.button-buy-cart:hover {
  background-color: #316335; /* Cambiar color de fondo al pasar sobre el botón */
}

.quantity-cart-input {
  max-width: 100px; /* Ajusta el ancho máximo según tus preferencias */
  width: 100%; /* Opcional: utiliza el ancho completo dentro del máximo */
  text-align: center;
}


.container-edit-supplier {
  margin: 0%;
}

.title-container-edit-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 0%; /* Eliminar el margen predeterminado del título */
  display: flex;
  justify-content: initial; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Para centrar contenido verticalmente */
  margin-bottom: 2%;
}

.title-edit-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 200%; /* Tamaño de fuente personalizado */
  margin: 0; /* Eliminar el margen predeterminado del título */
}

.header-container-edit-supplier img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}


.search-bar-edit-supplier {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.2%;
  width: 100%;
  flex-wrap: wrap;
}

.search-input-edit-supplier {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.filter-select {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button-edit-supplier {
  padding: 5px 10px;
  background-color: #3e7c95;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0%;
}

.search-button-edit-supplier:hover {
  background-color: #1e4b5a;
}

.button-nav:hover {
  background-color: #3a7537; /* Cambiamos a un tono más claro al pasar el mouse */
  border-color: #ffffff; /* Cambiamos el color del borde al pasar el mouse */
  color: #ffffff; /* Cambiamos el color del texto al pasar el mouse */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .title,
  .search-input,
  .filter-select,
  .search-button {
    width: 100%;
    margin-bottom: 10px; /* Espacio entre elementos */
  }
}

