<!DOCTYPE html>
<html>

<header>
  <app-header-admin></app-header-admin>
</header>

<body>
<div class="container-edit-supplier">
  <div class="title-container-edit-supplier">
    <div class="search-bar-edit-supplier">
      <div class="title-edit-supplier">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proveedores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div>Buscar:&nbsp;</div>
      <input type="text" class="search-input-edit-supplier" #name="ngModel" [(ngModel)]="authService.formDataSearchSupplier.search" placeholder="Buscar proveedor">
      <div>
        <span>&nbsp;</span>
        <button class="search-button-edit-supplier" (click)="searchEditSupplier()">Buscar</button>
      </div>
    </div>
  </div>

  <div #container class="tableProv-container" [ngStyle]="cartStyles">
    <table>
      <thead>
      <tr>
        <th>Nit</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Correo</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of suppliers | paginate: { itemsPerPage: elementeForPage, currentPage: currentPage, id: 'cart' }">
        <td>{{ item.nitSupplier }}</td>
        <td>{{ item.nameSupplier }}</td>
        <td>{{ item.phoneSupplier }}</td>
        <td>{{ item.addressSupplier }}</td>
        <td>{{ item.emailSupplier }}</td>
        <td>
          <button class="button-green" (click)="editproduct()"><i class="fas fa-pencil-alt"></i></button>
        </td>
        <td>
          <button (click)="deleteproduct()"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event" *ngIf="suppliers.length > elementeForPage" id="cart"></pagination-controls>
  </div>
</div>
</body>

<footer>
  <app-footer></app-footer>
</footer>

</html>









