

/* Estilo para el contenedor principal */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin-right: 4%;
}

/* Estilo para la imagen */
.login-container img {
  max-width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-left: 48%;
}

@media (max-width: 768px) {
  .login-container img {
    max-width: 100px; /* Cambia el tamaño de la imagen para pantallas pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo para centrar la imagen */
    display: block; /* Hace que la imagen ocupe todo el ancho disponible */
    margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
    margin-left: 40%;
  }
}

/* Estilo para el botón desplegable */
.login-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.login-container li {
  position: relative;
}

.login-container a {
  text-decoration: none;
  color: #333;
  padding: 0px;
  display: inline-block;
}

/* Estilo para el icono del botón desplegable */
.login-container .fa-angle-down {
  margin-left: 0px;
}

/* Estilo para el menú desplegable */
.login-container ul ul {
  display: none;
  position: absolute;
  top: 60%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.login-container li:hover ul,
.login-container ul ul:hover {
  display: block;
}

.login-container ul ul li {
  white-space: nowrap;
}

/* Estilo para los elementos del menú desplegable */
.login-container ul ul li a {
  padding: 0px;
  display: block;
}

/* Cambia el color de fondo cuando el mouse pasa por encima */
.login-container li li:hover {
  background-color: #ddd;
}

.login-container li:hover {
  background-color: #a4a4a4;
}

.logo-container img {
  max-width: 30px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-left: 0%;
}

.logintext {
  display: flex;
  margin-right: 2%;
}


html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}



/* Variables */
:root {
  --background-purple: #EEEEEE;
  --subtle-white: #f9f9f9;
  --subtle-grey: #f2f2f2;
  --masked-grey: #ffffff;
  --blue: #F03861;
  --open-sans: 'Open Sans', sans-serif;
}

/* Reset de estilos */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Contenedor de la página */
.container22 {
  width: 100%;
  height: 100%;
}

/* Estilos para el tutorial */
.container-menu {
  width: 100%;
  margin: 0% 0% 0% 0%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #316335;
  display: flex;
  justify-content: center;
}

/* Estilos para el slider */
.slider {
  width: 100%;
  height: 300px;
  background-color: var(--blue);
}

/* Estilos para listas no ordenadas */
ul {
  font-size: 0%;
  list-style-type: none;
}

/* Estilos para elementos de lista */
li {
  font-family: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 15px;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

.li-sub {
  color: #100101;
}

/* Estilos para sublistas */
ul ul {
  display: none;
  background-color: #6fa535;
}

/* Estilos cuando se pasa el cursor sobre un elemento de lista */
li:hover {
  cursor: pointer;
  background-color: #6fa535;
}

/* Mostrar sublistas cuando se pasa el cursor */
li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}

/* Estilos para elementos de sublistas */
li ul li {
  display: block;
  background-color: rgba(249, 249, 249, 0.93);
}

/* Estilos para el elemento 'span' dentro de sublistas */
li ul li span {
  float: right;
  color: var(--subtle-white);
  background-color: var(--blue);
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}

/* Estilos al pasar el cursor sobre elementos de sublistas */
li ul li:hover {
  background-color: rgba(249, 249, 249, 0.86);
}

/* Estilos al pasar el cursor sobre el elemento 'span' de sublistas */
li ul li:hover span {
  background-color: var(--blue);
}
