<div class="login-container">
  <img class="img-l" src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo_principal.jpg?alt=media&token=8347ba50-ac57-46c5-ad31-3cb0e25bd463" alt="Logo de la empresa">
  <div class="logintext">
    <ul>
      <li><a >Cuenta</a><i class="fa fa-angle-down"></i>
        <ul>
          <li><a class="li-sub" [routerLink]="['/changePassword/']">Cambiar Contraseña</a></li>
          <li><a class="li-sub" (click)="exit()">Cerrar Sesión</a></li>
        </ul>
      </li>
    </ul>
    <div class="logo-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo%20cuenta.jpg?alt=media&token=904daf73-aed8-40e1-a587-204e99eca190" alt="Logo de la cuenta">
    </div>
  </div>
</div>
<div class="container22">
  <div class="container-menu">
    <ul>
      <li><a [routerLink]="['/homePage/']" >Home</a></li>
      <li><a [routerLink]="['/listSupplier/']">Proveedores</a><i></i>
        <ul>
          <li><a class="li-sub" [routerLink]="['/createSupplier/']">Crear Proveedor</a></li>
          <li><a class="li-sub" [routerLink]="['/editSupplier/']">Editar Proveedor</a></li>
          <li><a class="li-sub" [routerLink]="['/deleteSupplier/']">Eliminar Proveedor</a></li>
        </ul>
      </li>
      <li><a >Productos</a><i></i>
        <ul>
          <li><a class="li-sub" [routerLink]="['/createProduct/']" >Crear Producto</a></li>
          <li><a class="li-sub" [routerLink]="['/editProduct/']" >Editar Producto</a></li>
          <li><a class="li-sub" [routerLink]="['/deleteProduct/']" >Eliminar Producto</a></li>
        </ul>
      </li>
      <li><a >Usuarios</a><i></i>
        <ul>
          <li><a class="li-sub" [routerLink]="['/createUser/']">Crear Usuario</a></li>
          <li><a class="li-sub" [routerLink]="['/editUser/']" >Editar Usuario</a></li>
          <li><a class="li-sub" [routerLink]="['/deleteUser/']" >Eliminar Usuario</a></li>
        </ul>
      </li>
      <li><a >Pedidos</a><i></i>
        <ul>
          <li><a class="li-sub" href="#">Crear Pedido</a></li>
          <li><a class="li-sub" href="#">Editar Pedido</a></li>
          <li><a class="li-sub" href="#">Eliminar Pedido</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

