/* Estilos generales */

html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
}

.login-container img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}

.button-container-image {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
  width: 100%;
}

.main-content {
  text-align: center;
  padding: 50px 0;
}

.main-content img {
  max-width: 100%;
  height: auto;
}

/* Media queries para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
  .titulo {
    font-size: 18px; /* Cambia el tamaño de fuente en pantallas más pequeñas */
  }

  .login-container img {
    max-width: 100px; /* Ajusta el tamaño máximo del logo en pantallas más pequeñas */
  }

  nav {
    padding: 10px 0; /* Reduce el espacio en el encabezado en pantallas más pequeñas */
  }

  nav a {
    margin: 0 10px; /* Reduce el espacio entre enlaces en pantallas más pequeñas */
    padding: 8px 16px; /* Ajusta el espacio en los botones del menú */
  }

  .button-container-image {
    padding: 10px 0; /* Ajusta el espacio en el contenedor de botones en pantallas más pequeñas */
  }
}
