<!DOCTYPE html>
<html>
<header>
  <div class="login-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo_principal.jpg?alt=media&token=8347ba50-ac57-46c5-ad31-3cb0e25bd463" alt="Logo de la empresa">
  </div>
  <div class="titulo-container">
    <h1 class="titulo">Cambiar Contraseña</h1>
  </div>
</header>

<body>

<div class="container">

  <div class="login-item">
    <form action="" method="post" class="form form-login" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit()">

      <div class="form-field">
        <label class="lock" for="contrasena-username1"><span class="hidden">Nueva Contraseña</span></label>
        <input name="password1" id="contrasena-username1" #User="ngModel" [(ngModel)]="authService.formPassword.password"
               [class.invalid]="User.invalid && User.touched"
               type="password" class="form-input" placeholder="Contraseña" required>
      </div>

      <div class="form-field">
        <label class="lock" for="contrasena-username"><span class="hidden">Confirmar Contraseña</span></label>
        <input name="password" id="contrasena-username"#User="ngModel" [(ngModel)]="authService.formPassword.confirmation"
               [class.invalid]="User.invalid && User.touched"
               type="password" class="form-input" placeholder="Contraseña" required>
      </div>
      <div class="button-container">
        <input type="submit" class="custom-button" value="Cambiar Contraseña">
      </div>
    </form>
  </div>
</div>
</body>

</html>



