.cdk-overlay-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center;
  width: 100%;
  height: 100%;
}
.mat-dialog-container {
  max-width: 80%; /* Cambia este valor según tus necesidades */
}

.mdc-dialog, .mdc-dialog__scrim{
  margin: 10%;
}

.mat-mdc-dialog-actions {
  justify-content: center;
}

