html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  margin: 0%;
}

.title-container {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 0%; /* Eliminar el margen predeterminado del título */
  display: flex;
  justify-content: initial; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Para centrar contenido verticalmente */
  margin-bottom: 2%;
}

.button-nav:hover {
  background-color: #3a7537; /* Cambiamos a un tono más claro al pasar el mouse */
  border-color: #ffffff; /* Cambiamos el color del borde al pasar el mouse */
  color: #ffffff; /* Cambiamos el color del texto al pasar el mouse */
}

.titulo {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 200%; /* Tamaño de fuente personalizado */
  margin: 0; /* Eliminar el margen predeterminado del título */
}

.login-container img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}

.form-field {
  display: flex; /* Cambiar la disposición a flexbox */
  flex-direction: column; /* Mostrar los elementos en una columna */
  align-items: center; /* Centrar horizontalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
}

.form-row {
  display: flow-root;
  padding: 0px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.form-row2 {
  margin-left: 0%;
  display: flow-root;
  padding: 0px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.titulo-container {
  text-align: center; /* Centrar el contenido */
  padding: 0% 0; /* Agregar espacio alrededor del contenido */
  width: 100%;
  background-color: #316335;
  display: flow-root; /* Hace que los elementos del menú se muestren en línea */
  justify-content: center;
}

.lock {
  color: #030303; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente personalizado */
  font-family: serif; /* Fuente serif */
  align-self: flex-start;
}

