html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* Variables */
:root {
  --background-purple: #EEEEEE;
  --subtle-white: #f9f9f9;
  --subtle-grey: #f2f2f2;
  --masked-grey: #ffffff;
  --blue: #F03861;
  --open-sans: 'Open Sans', sans-serif;
}

/* Reset de estilos */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container-delete-supplier {
  width: 100%;
  height: 100%;
}

/* Estilos para el tutorial */
.container-menu {
  width: 100%;
  margin: 0% 0% 0% 0%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #316335;
  display: flex;
  justify-content: center;
}

/* Estilos para el slider */
.slider {
  width: 100%;
  height: 300px;
  background-color: var(--blue);
}

/* Estilos para listas no ordenadas */
ul {
  font-size: 0%;
  list-style-type: none;
}

/* Estilos para elementos de lista */
li {
  font-family: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 15px;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

.li-sub {
  color: #100101;
}

/* Estilos para sublistas */
ul ul {
  display: none;
  background-color: #6fa535;
}

/* Estilos cuando se pasa el cursor sobre un elemento de lista */
li:hover {
  cursor: pointer;
  background-color: #6fa535;
}

/* Mostrar sublistas cuando se pasa el cursor */
li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}

/* Estilos para elementos de sublistas */
li ul li {
  display: block;
  background-color: rgba(249, 249, 249, 0.93);
}

/* Estilos para el elemento 'span' dentro de sublistas */
li ul li span {
  float: right;
  color: var(--subtle-white);
  background-color: var(--blue);
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}

/* Estilos al pasar el cursor sobre elementos de sublistas */
li ul li:hover {
  background-color: rgba(249, 249, 249, 0.86);
}

/* Estilos al pasar el cursor sobre el elemento 'span' de sublistas */
li ul li:hover span {
  background-color: var(--blue);
}

.container-delete-supplier {
  margin: 0%;
}

.title-container-delete-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 0%; /* Eliminar el margen predeterminado del título */
  display: flex;
  justify-content: initial; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Para centrar contenido verticalmente */
  margin-bottom: 2%;
}

.title-delete-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 200%; /* Tamaño de fuente personalizado */
  margin: 0; /* Eliminar el margen predeterminado del título */
}

.header-container-delete-supplier img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}

.form-field {
  display: flex; /* Cambiar la disposición a flexbox */
  flex-direction: column; /* Mostrar los elementos en una columna */
  align-items: center; /* Centrar horizontalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
}

.form-row1-delete-supplier {
  display: flow-root;
  padding: 17px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.form-row2-delete-supplier {
  margin-left: 0%;
  display: flow-root;
  padding: 17px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.look-delete-supplier {
  color: #030303; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente personalizado */
  font-family: serif; /* Fuente serif */
  align-self: flex-start;
}

.form-input-delete-supplier {
  width: 90%; /* Opcional: ocupar todo el ancho disponible */
  padding: 5% 1%; /* Espacio interno en el cuadro */
  border: 1px solid #ccc; /* Borde del cuadro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: rgba(0, 0, 0, 0.12); /* Fondo blanco */
  font-size: 17px; /* Tamaño de fuente */
  color: #030303; /* Color de texto */
  font-family: serif; /* Fuente serif */
}

.custom-button-delete-supplier {
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente */
  color: #030303; /* Color de texto negro */
  background-color: #6fa535; /* Fondo verde */
  border: none; /* Quitar borde */
  padding: 10px 20px; /* Espacio interno del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px; /* Agregar bordes redondeados */
  margin-right: 1%;
}

.custom-button-delete-supplier:hover {
  background-color: #568a2a; /* Cambiar color de fondo al pasar sobre el botón */
}

