<!DOCTYPE html>
<html>
<header>
  <app-header-user></app-header-user>
</header>
<body>
<h1>Catálogo de Productos</h1>
<div class="catalog-container">
  <table>
    <tr *ngFor="let productRow of productChunks">
      <td *ngFor="let product of productRow">
        <img [src]="product.imageNewUrl" [alt]="product.name">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
        <button>Añadir al Carrito</button>
      </td>
    </tr>
  </table>
</div>
<footer>
  <app-footer></app-footer>
</footer>
</body>
</html>
