<!DOCTYPE html>
<html>

<header>
  <app-header-user></app-header-user>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>

<body>
<h1>Catálogo de Productos</h1>
<div class="filter-bar">
  <!-- Barra de búsqueda -->
  <input type="text" placeholder="Buscar por nombre" [(ngModel)]="searchTerm">

  <!-- Filtros -->
  <select [(ngModel)]="selectedCategory">
    <option value="">Todas las categorías</option>
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>

  <select [(ngModel)]="selectedPresentation">
    <option value="">Todas las presentaciones</option>
    <option *ngFor="let presentation of presentations" [value]="presentation">{{ presentation }}</option>
  </select>

  <select [(ngModel)]="selectedProvider">
    <option value="">Todos los proveedores</option>
    <option *ngFor="let provider of providers" [value]="provider">{{ provider }}</option>
  </select>

  <select [(ngModel)]="selectedSort">
    <option value="asc">Precio de menor a mayor</option>
    <option value="desc">Precio de mayor a menor</option>
  </select>

  <button (click)="applyFilters()">
    <i class="fa fa-search"></i> <!-- Icono de búsqueda -->
  </button>
</div>

<div class="catalog-container">
  <table>
    <tr *ngFor="let productRow of productChunks">
      <td *ngFor="let product of productRow">
        <img [src]="product.imageNewUrl" [alt]="product.name">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
        <button (click)="addModel(product)">Añadir al Carrito</button>
      </td>
    </tr>
  </table>
</div>

<div class="button-view-cart-container">
  <!-- Icono de carrito de compras en lugar del texto -->
  <button class="view-cart-button" (click)="toggleCart()">
    <i class="fa fa-shopping-cart"></i> <!-- Icono de carrito de compras -->
  </button>
</div>

<div *ngIf="showCart">
  <app-cart></app-cart>
</div>
<footer>
  <app-footer></app-footer>
</footer>
</body>


</html>

