html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
}

.container-create-supplier {
  margin: 0%;
}

.title-container-create-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 2%; /* Eliminar el margen predeterminado del título */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Para centrar contenido verticalmente */
}

.title-create-supplier {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 150%; /* Tamaño de fuente personalizado */
  margin: 0; /* Eliminar el margen predeterminado del título */
}























