<!DOCTYPE html>
<html>

<header>
  <app-header-admin></app-header-admin>
</header>

<body>
  <div class="container-create-supplier">
    <div class="title-container-create-supplier">
      <h1 class="title-create-supplier">Crear Proveedor</h1>
    </div>

    <form action="" method="post" class="form form-login" novalidate autocomplete="off" #form="ngForm">

      <div class="form-row1-create-supplier">
        <div class="field-create-supplier">
          <label class="look-create-supplier" for="nit-create-supplier">Nit&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input class="form-input-create-supplier" type="text" id="nit-create-supplier" #nitSupplier="ngModel" [(ngModel)]="authService.formDataSupplier.nitSupplier" name="nit-create-supplier" placeholder="Nit">
        </div>

        <div class="field-create-supplier">
          <label class="look-create-supplier" for="name-create-supplier">Nombre&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input class="form-input-create-supplier" type="text" id="name-create-supplier" #nameSupplier="ngModel" [(ngModel)]="authService.formDataSupplier.nameSupplier" name="name-create-supplier" placeholder="Nombre">
        </div>

        <div class="field-create-supplier">
          <label class="look-create-supplier" for="phone-create-supplier">Teléfono&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input class="form-input-create-supplier" appRestrictDash (input)="limitDigitsPhone($event)" type="number" id="phone-create-supplier" #phoneSupplier="ngModel" [(ngModel)]="authService.formDataSupplier.phoneSupplier" name="phone-create-supplier" placeholder="Teléfono">
        </div>
      </div>

      <div class="form-row2-create-supplier">
        <div class="field-create-supplier">
          <label class="look-create-supplier" for="address-create-supplier">Dirección&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input class="form-input-create-supplier" type="text" id="address-create-supplier" #addressSupplier="ngModel" [(ngModel)]="authService.formDataSupplier.addressSupplier" name="address-create-supplier" placeholder="Dirección">
        </div>

        <div class="field-create-supplier">
          <label class="look-create-supplier" for="email-create-supplier">Correo&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input class="form-input-create-supplier" type="text" id="email-create-supplier" #emailSupplier="ngModel" [(ngModel)]="authService.formDataSupplier.emailSupplier" name="email-create-supplier" placeholder="Correo">
        </div>
      </div>

      <div class="button-container-create-supplier">
        <input type="submit" class="custom-button-create-supplier" (click)="onSubmit()" value="Crear">
        <input type="submit" class="custom-button-cancel-create-supplier" (click)="resetForm()" value="Cancelar">
      </div>
    </form>
  </div>
</body>

<footer>
  <app-footer></app-footer>
</footer>
</html>
