
.form-field {
  display: flex; /* Cambiar la disposición a flexbox */
  flex-direction: column; /* Mostrar los elementos en una columna */
  align-items: center; /* Centrar horizontalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
}

.form-row1-create-supplier {
  display: flow-root;
  padding: 17px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.form-row2-create-supplier {
  margin-left: 0%;
  display: flow-root;
  padding: 17px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.look-create-supplier {
  color: #030303; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente personalizado */
  font-family: serif; /* Fuente serif */
  align-self: flex-start;
}

.form-input-create-supplier {
  width: 90%; /* Opcional: ocupar todo el ancho disponible */
  padding: 5% 1%; /* Espacio interno en el cuadro */
  border: 1px solid #ccc; /* Borde del cuadro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f5f6f7; /* Fondo blanco */
  font-size: 17px; /* Tamaño de fuente */
  color: #030303; /* Color de texto */
  font-family: serif; /* Fuente serif */
}

.custom-button-create-supplier {
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente */
  color: #030303; /* Color de texto negro */
  background-color: #6fa535; /* Fondo verde */
  border: none; /* Quitar borde */
  padding: 10px 20px; /* Espacio interno del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px; /* Agregar bordes redondeados */
  margin-right: 1%;
}

.custom-button-create-supplier:hover {
  background-color: #568a2a; /* Cambiar color de fondo al pasar sobre el botón */
}

.custom-button-cancel-create-supplier {
  font-family: serif; /* Fuente serif */
  font-size: 20px; /* Tamaño de fuente */
  color: #030303; /* Color de texto negro */
  background-color: #ff6961;
  border: none; /* Quitar borde */
  padding: 10px 20px; /* Espacio interno del botón */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px; /* Agregar bordes redondeados */
}

.custom-button-cancel-create-supplier:hover {
  background-color: #f64339; /* Cambiar color de fondo al pasar sobre el botón */
}

.button-container-create-supplier {
  display: flex;
  justify-content: right; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
}

.nav.container.container-create-supplier {
  text-align: center;
  padding: 0.5% 0; /* Añadir un espacio uniforme alrededor del contenedor */
  width: 100%;
  white-space: nowrap; /* Evita el ajuste de línea de los elementos */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
  display:inline-block;
  margin:60px auto 45px;
  background-color:#aaa;
  box-shadow:0 1px 1px #ccc;
  border-radius:2px;
}

.button-nav {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: .5% 2%; /* Añadir espacio alrededor del texto */
  border: 2px solid transparent;
  border-radius: 5%;
  margin: 1% 1%; /* Añadir un margen entre los botones */
  font-family: auto;
}

.button-nav {
  background-color: #6FA535;
}

footer {
  background-color: #3E7C95;
  text-align: center;
  padding: 12px 0;
  font-family: auto;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
}

.field-create-supplier {
  display: inline-block;
  margin-bottom: 1.5%;
  margin-left: 5%;
  margin-right: 5%;
}

.red-social-image {
  width: 100%; /* La imagen ocupará el 100% del ancho disponible en su contenedor */
  height: auto; /* Mantendrá la relación de aspecto original */
  max-width: 40px; /* Establece un ancho máximo si deseas limitar el tamaño máximo */
}

.button-nav:hover {
  background-color: #3a7537; /* Cambiamos a un tono más claro al pasar el mouse */
  border-color: #ffffff; /* Cambiamos el color del borde al pasar el mouse */
  color: #ffffff; /* Cambiamos el color del texto al pasar el mouse */
}

.footer-create-supplier {
  margin-left: 0%;
  display: flow-root;
  padding: 0px 0; /* Espacio arriba y abajo */
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}
