/* Estilos generales */

html {
  height: 100%;
}

body {
  display: contents;
  justify-content: center;
  align-items: center;
}

.login-container img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}

.button-container-image {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
  width: 100%;
}

.titulo-container {
  text-align: center; /* Centrar el contenido */
  padding: 0% 0; /* Agregar espacio alrededor del contenido */
  width: 100%;
  background-color: #316335;
  display: flow-root; /* Hace que los elementos del menú se muestren en línea */
  justify-content: center;
}


.nav.container {
  text-align: center;
  padding: 0.5% 0; /* Añadir un espacio uniforme alrededor del contenedor */
  width: 100%;
  white-space: nowrap; /* Evita el ajuste de línea de los elementos */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
  display:inline-block;
  margin:60px auto 45px;
  background-color:#aaa;
  box-shadow:0 1px 1px #ccc;
  border-radius:2px;
}


.button-nav {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: .5% 2%; /* Añadir espacio alrededor del texto */
  border: 2px solid transparent;
  border-radius: 5%;
  margin: 1% 1%; /* Añadir un margen entre los botones */
}

/* Colores diferentes para cada botón */
.button-nav {
  background-color: #6FA535;
}

footer {
  background-color: #3E7C95;
  text-align: center;
  padding: 12px 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
}

.red-social-image {
  width: 100%; /* La imagen ocupará el 100% del ancho disponible en su contenedor */
  height: auto; /* Mantendrá la relación de aspecto original */
  max-width: 40px; /* Establece un ancho máximo si deseas limitar el tamaño máximo */
}

.form-row22 {
  margin: 1%;
  font-family: serif; /* Fuente serif */
}

.main-content {
  text-align: center;
  padding: 50px 0;
}

.main-content img {
  max-width: 100%;
  height: auto;
}

/* Media queries para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
  .titulo {
    font-size: 18px; /* Cambia el tamaño de fuente en pantallas más pequeñas */
  }

  .login-container img {
    max-width: 100px; /* Ajusta el tamaño máximo del logo en pantallas más pequeñas */
  }

  nav {
    padding: 10px 0; /* Reduce el espacio en el encabezado en pantallas más pequeñas */
  }

  nav a {
    margin: 0 10px; /* Reduce el espacio entre enlaces en pantallas más pequeñas */
    padding: 8px 16px; /* Ajusta el espacio en los botones del menú */
  }

  .button-container-image {
    padding: 10px 0; /* Ajusta el espacio en el contenedor de botones en pantallas más pequeñas */
  }
}
