html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-container {
  text-align: center; /* Centrar el contenido */
  padding: 10px 0; /* Agregar espacio alrededor del contenido */
}

.titulo {
  color: #100101; /* Color de texto blanco */
  font-family: serif; /* Fuente serif */
  font-size: 24px; /* Tamaño de fuente personalizado */
  margin: 0; /* Eliminar el margen predeterminado del título */
}

.login-container img {
  max-width: 140px; /* Ajusta el tamaño máximo del logo */
  display: block; /* Para centrar horizontalmente el logo */
  margin: 0 auto; /* Para centrar el logo horizontalmente */
  margin-bottom: 0px; /* Agregar espacio entre el logo y el texto */
}

.button-container-image {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px 0; /* Espacio arriba y abajo */
  width: 100%;
}

nav {
  background-color: #316335;
  text-align: center;
  padding: 20px 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  padding: 10px 20px; /* Añadir espacio alrededor del texto */
  border: 2px solid transparent; /* Agregar un borde transparente */
  border-radius: 5px; /* Agregar bordes redondeados */
}

/* Colores diferentes para cada botón */
nav a:nth-child(1) {
  background-color: #6FA535;
}

nav a:nth-child(2) {
  background-color: #6FA535;
}

nav a:nth-child(3) {
  background-color: #6FA535;
}

nav a:nth-child(4) {
  background-color: #6FA535;
}


footer {
  background-color: #3E7C95;
  text-align: center;
  padding: 12px 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
}

.red-social-image {
  width: 100%; /* La imagen ocupará el 100% del ancho disponible en su contenedor */
  height: auto; /* Mantendrá la relación de aspecto original */
  max-width: 40px; /* Establece un ancho máximo si deseas limitar el tamaño máximo */
}

.form-row22 {
  margin: 1%;
  font-family: serif; /* Fuente serif */
}

.main-content {
  text-align: center;
  padding: 50px 0;
}

.main-content img {
  max-width: 100%;
  height: auto;
}
