<body>
<header>
  <div class="login-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo_principal.jpg?alt=media&token=8347ba50-ac57-46c5-ad31-3cb0e25bd463" alt="Logo de la empresa">
  </div>
</header>
<nav>
  <a href="#">Proveedores</a>
  <a href="#">Productos</a>
  <a href="#">Usuarios</a>
  <a href="#">Pedidos</a>
</nav>
<div class="main-content">
  <img src="https://firebasestorage.googleapis.com/v0/b/diaznaturals-ba4b1.appspot.com/o/Logo2.jpeg?alt=media&token=4aea6661-b735-477a-a6ca-f3f0143765a2" alt="Imagen principal">
</div>
<footer>
  <a href="#">Redes Sociales</a>
  <a href="#">Redes Sociales</a>
  <a href="#">Redes Sociales</a>
</footer>
</body>
