<!DOCTYPE html>
<html>
<header>
  <app-header-user></app-header-user>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</header>

<body>
<div class="container">
  <div class="title-container">
    <h1 class="titulo">Detalles del Pedido</h1>
  </div>

  <div class="order-details">
    <div class="order-info">
      <h2>Información del Pedido</h2>
      <p><strong>ID del Pedido:</strong> {{ orderDetails.idOrder }}</p>
      <p><strong>NIT del Cliente:</strong> {{ orderDetails.nitClient }}</p>
      <p><strong>Nombre del Cliente:</strong> {{ orderDetails.nameClient }}</p>
      <p><strong>Estado del Cliente:</strong> {{ orderDetails.stateClient }}</p>
      <p><strong>Ciudad del Cliente:</strong> {{ orderDetails.cityClient }}</p>
      <p><strong>Dirección del Cliente:</strong> {{ orderDetails.addressClient }}</p>
      <p><strong>Teléfono del Cliente:</strong> {{ orderDetails.phoneClient }}</p>
      <p><strong>Nombre de Contacto:</strong> {{ orderDetails.nameContactClient }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ orderDetails.startDateOrder | date: 'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Total:</strong> {{ orderDetails.totalPriceOrder | currency:'$ ':'symbol':'1.0-0' }} COP</p>
      <p><strong>Estado del Pedido:</strong> {{ orderDetails.statusOrder }}</p>
    </div>

    <div class="order-image">
      <h2 class="lock">Imagen del Comprobante</h2>
      <div class="image-container">
        <img [src]="orderDetails.imageNewUrl" alt="Imagen del Pedido" class="preview-image rounded" />
      </div>
    </div>
  </div>

  <div class="button-container">
    <input type="submit" class="custom-buttonC" (click)="changePageOrder()" value="Cerrar" />
  </div>


  <h2 class="lock">Productos</h2>
  <div #container class="tableProv-container" >
    <table>
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Presentación</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of products | paginate: { itemsPerPage: elementeForPage, currentPage: currentPage, id: 'cart' }">
        <td class="table-img">
          <img [src]="item.imageNewUrl" alt="Imagen del producto" style="width: 50px; height: 50px; margin-left: 1px;" >
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.supplier }}</td>
        <td>{{ item.presentation }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{item.price | currency:'$ ':'symbol':'1.0-0' }} COP</td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event" *ngIf="products.length > elementeForPage" id="cart"></pagination-controls>
  </div>

  <div class="status-title">
    <h2>Estado del Pedido</h2>
  </div>

  <div class="status-container">
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'Pendiente por pago' }">
      <span>Pendiente por pago</span>
    </div>
    <hr class="status-line" />
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'Pago verificado' }">
      <span>Pago verificado</span>
    </div>
    <hr class="status-line" />
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'En proceso de almacen' }">
      <span>En proceso de almacen</span>
    </div>
    <hr class="status-line" />
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'Despachado' }">
      <span>Despachado</span>
    </div>
    <hr class="status-line" />
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'Pedido rechazado' }">
      <span>Pedido rechazado</span>
    </div>
    <hr class="status-line" />
    <div class="status" [ngClass]="{ 'status-highlight': orderDetails.statusOrder === 'Pedido Cancelado' }">
      <span>Pedido Cancelado</span>
    </div>
  </div>

</div>


</body>

<footer>
  <app-footer></app-footer>
</footer>
</html>
